<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ta-heading">Select this TA for Your Course</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ta.name}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ta.email}}</span>
                </dd>
                <dt><span>V Num</span></dt>
                <dd>
                    <span>{{ta.vNum}}</span>
                </dd>
                <dt><span>Class Year</span></dt>
                <dd>
                    <span>{{ta.classYear}}</span>
                </dd>
                <dt><span>Expected Grad Year</span></dt>
                <dd>
                    <span>{{ta.expectedGradYear}}</span>
                </dd>
                <dt><span>Expected Grad Semester</span></dt>
                <dd>
                    <span>{{ta.expectedGradSemester}}</span>
                </dd>
                <dt><span>Total Hours Available</span></dt>
                <dd>
                    <span>{{ta.totalHoursAvailable}}</span>
                </dd>
                <dt><span>Is Active</span></dt>
                <dd>
                    <span>{{ta.isActive}}</span>
                </dd>
                <dt><span>Qualified to Teach Courses</span></dt>
                <dd>
                    <span *ngFor="let courseQualified of ta.courseQualifieds; let last = last">
                        <a [routerLink]="['/course', courseQualified?.id, 'view' ]">{{courseQualified.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Has Experience in Courses</span></dt>
                <dd>
                    <span *ngFor="let courseHasExperience of ta.courseHasExperiences; let last = last">
                        <a [routerLink]="['/course', courseHasExperience?.id, 'view' ]">{{courseHasExperience.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Available to be TA Roles</span></dt>
                <dd>
                    <span *ngFor="let availableRole of ta.availableRoles; let last = last">
                        <a [routerLink]="['/ta-role', availableRole?.id, 'view' ]">{{availableRole.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <div class="form-group">
                    <label for="field_section">Teaching Sections</label>
                    <select class="form-control" id="field_section" multiple name="section" [(ngModel)]="ta.sections">
                        <option [ngValue]="getSelected(ta.sections, sectionOption)" *ngFor="let sectionOption of sections; trackBy: trackSectionById">{{sectionOption.id}}</option>
                    </select>
                </div>
            </dl>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span>Back</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Add this TA to my section</span>
                </button>
            </div>
        </form>
    </div>
</div>
