<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-apply" style="text-align:center">Apply to be a new TA</h2>
            <div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Full Name</label>
                    <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="applicant.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email (VCU Email Preferred)</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="applicant.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_vNum">V Number (Format: V0000000)</label>
                    <input type="text" class="form-control" name="vNum" id="field_vNum" [(ngModel)]="applicant.vNum" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_classYear">Class Year</label>
                    <!-- <input type="text" class="form-control" name="classYear" id="field_classYear"
                        [(ngModel)]="applicant.classYear" /> -->
                    <input type="text" class="form-control" name="classYear" id="field_classYear"
                        [(ngModel)]="applicant.classYear" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expectedGradYear">Expected Graduation Year</label>
                    <!-- <input type="number" class="form-control" name="expectedGradYear" id="field_expectedGradYear"
                        [(ngModel)]="applicant.expectedGradYear" /> -->
                    <select required type="number" class="form-control" name="expectedGradYear"
                        id="field_expectedGradYear" [(ngModel)]="applicant.expectedGradYear">
                        <option value="" disabled selected>Select your expected Graduation Year</option>
                        <option *ngFor="let year of expectedGradYearSelectValues" id="{{ year }}" value="{{ year }}">
                            {{ year }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expectedGradSemester">Expected Graduation
                        Semester</label>
                    <!-- <input type="text" class="form-control" name="expectedGradSemester" id="field_expectedGradSemester"
                        [(ngModel)]="applicant.expectedGradSemester" /> -->
                    <select type="text" class="form-control" name="expectedGradSemester" id="field_expectedGradSemester"
                        [(ngModel)]="applicant.expectedGradSemester">
                        <option *ngFor="let semester of expectedGradSemesterValues" id="{{ semester }}"
                            value="{{ semester }}">
                            {{ semester }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_statement">Statement</label>
                    <input type="text" class="form-control" name="statement" id="field_statement"
                        [(ngModel)]="applicant.statement" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grade255">Grade 255</label>
                    <!-- <input type="text" class="form-control" name="grade255" id="field_grade255"
                        [(ngModel)]="applicant.grade255" /> -->
                    <select type="text" class="form-control" name="grade255" id="field_grade255"
                        [(ngModel)]="applicant.grade255">
                        <option *ngFor="let grade of gradeValues" id="{{ grade }}" value="{{ grade }}">
                            {{ grade }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grade256">Grade 256</label>
                    <!-- <input type="text" class="form-control" name="grade256" id="field_grade256"
                        [(ngModel)]="applicant.grade256" /> -->
                    <select type="text" class="form-control" name="grade256" id="field_grade256"
                        [(ngModel)]="applicant.grade256">
                        <option *ngFor="let grade of gradeValues" id="{{ grade }}" value="{{ grade }}">
                            {{ grade }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_grade257">Grade 257</label>
                    <!-- <input type="text" class="form-control" name="grade257" id="field_grade257"
                        [(ngModel)]="applicant.grade257" /> -->
                    <select type="text" class="form-control" name="grade257" id="field_grade257"
                        [(ngModel)]="applicant.grade257">
                        <option *ngFor="let grade of gradeValues" id="{{ grade }}" value="{{ grade }}">
                            {{ grade }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_referenceEmail">Reference Email</label>
                    <input type="text" class="form-control" name="referenceEmail" id="field_referenceEmail"
                        [(ngModel)]="applicant.referenceEmail" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>