<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ta-heading" jhiTranslate="taManagementApp.tA.home.createOrEditLabel">Create or edit a TA</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tA.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tA.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.studentName" for="field_studentName">Student Name</label>
                    <input type="text" class="form-control" name="studentName" id="field_studentName"
                        [(ngModel)]="tA.studentName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.vNumber" for="field_vNumber">V Number</label>
                    <input type="text" class="form-control" name="vNumber" id="field_vNumber"
                        [(ngModel)]="tA.vNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="tA.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.classYear" for="field_classYear">Class Year</label>
                    <input type="text" class="form-control" name="classYear" id="field_classYear"
                        [(ngModel)]="tA.classYear" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.currentAssign" for="field_currentAssign">Current Assign</label>
                    <input type="text" class="form-control" name="currentAssign" id="field_currentAssign"
                        [(ngModel)]="tA.currentAssign" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.previousAssign" for="field_previousAssign">Previous Assign</label>
                    <input type="text" class="form-control" name="previousAssign" id="field_previousAssign"
                        [(ngModel)]="tA.previousAssign" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.ptdLabTA" for="field_ptdLabTA">Ptd Lab TA</label>
                    <input type="text" class="form-control" name="ptdLabTA" id="field_ptdLabTA"
                        [(ngModel)]="tA.ptdLabTA" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.ptdClassTA" for="field_ptdClassTA">Ptd Class TA</label>
                    <input type="text" class="form-control" name="ptdClassTA" id="field_ptdClassTA"
                        [(ngModel)]="tA.ptdClassTA" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.ptdTestGrade" for="field_ptdTestGrade">Ptd Test Grade</label>
                    <input type="text" class="form-control" name="ptdTestGrade" id="field_ptdTestGrade"
                        [(ngModel)]="tA.ptdTestGrade" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.ptdOfficeHours" for="field_ptdOfficeHours">Ptd Office Hours</label>
                    <input type="text" class="form-control" name="ptdOfficeHours" id="field_ptdOfficeHours"
                        [(ngModel)]="tA.ptdOfficeHours" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="taManagementApp.tA.acceptedCourses" for="field_acceptedCourses">Accepted Courses</label>
                    <input type="text" class="form-control" name="acceptedCourses" id="field_acceptedCourses"
                        [(ngModel)]="tA.acceptedCourses" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="taManagementApp.tA.section" for="field_section">Section</label>
                    <select class="form-control" id="field_section" multiple name="section" [(ngModel)]="tA.sections">
                        <option [ngValue]="getSelected(tA.sections, sectionOption)" *ngFor="let sectionOption of sections; trackBy: trackSectionById">{{sectionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="taManagementApp.tA.assignment" for="field_assignment">Assignment</label>
                    <select class="form-control" id="field_assignment" multiple name="assignment" [(ngModel)]="tA.assignments">
                        <option [ngValue]="getSelected(tA.assignments, assignmentOption)" *ngFor="let assignmentOption of assignments; trackBy: trackAssignmentById">{{assignmentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
