<div>
    <h2 id="page-heading">
        <span jhiTranslate="taManagementApp.tA.home.title">TAS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ta" [routerLink]="['/ta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taManagementApp.tA.home.createLabel">
            Create new TA
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tAS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="taManagementApp.tA.studentName">Student Name</span></th>
            <th><span jhiTranslate="taManagementApp.tA.vNumber">V Number</span></th>
            <th><span jhiTranslate="taManagementApp.tA.email">Email</span></th>
            <th><span jhiTranslate="taManagementApp.tA.classYear">Class Year</span></th>
            <th><span jhiTranslate="taManagementApp.tA.currentAssign">Current Assign</span></th>
            <th><span jhiTranslate="taManagementApp.tA.previousAssign">Previous Assign</span></th>
            <th><span jhiTranslate="taManagementApp.tA.ptdLabTA">Ptd Lab TA</span></th>
            <th><span jhiTranslate="taManagementApp.tA.ptdClassTA">Ptd Class TA</span></th>
            <th><span jhiTranslate="taManagementApp.tA.ptdTestGrade">Ptd Test Grade</span></th>
            <th><span jhiTranslate="taManagementApp.tA.ptdOfficeHours">Ptd Office Hours</span></th>
            <th><span jhiTranslate="taManagementApp.tA.acceptedCourses">Accepted Courses</span></th>
            <th><span jhiTranslate="taManagementApp.tA.section">Section</span></th>
            <th><span jhiTranslate="taManagementApp.tA.assignment">Assignment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tA of tAS ;trackBy: trackId">
                <td><a [routerLink]="['/ta', tA.id, 'view' ]">{{tA.id}}</a></td>
                <td>{{tA.studentName}}</td>
                <td>{{tA.vNumber}}</td>
                <td>{{tA.email}}</td>
                <td>{{tA.classYear}}</td>
                <td>{{tA.currentAssign}}</td>
                <td>{{tA.previousAssign}}</td>
                <td>{{tA.ptdLabTA}}</td>
                <td>{{tA.ptdClassTA}}</td>
                <td>{{tA.ptdTestGrade}}</td>
                <td>{{tA.ptdOfficeHours}}</td>
                <td>{{tA.acceptedCourses}}</td>
                <td>
                    <span *ngFor="let section of tA.sections; let last = last">
                            <a class="form-control-static" [routerLink]="['../section', section?.id, 'view' ]">{{section.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let assignment of tA.assignments; let last = last">
                            <a class="form-control-static" [routerLink]="['../assignment', assignment?.id, 'view' ]">{{assignment.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ta', tA.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ta', tA.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ta', { outlets: { popup: tA.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
