<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="faculty">
            <h2><span jhiTranslate="taManagementApp.faculty.detail.title">Faculty</span> {{faculty.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taManagementApp.faculty.profID">Prof ID</span></dt>
                <dd>
                    <span>{{faculty.profID}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.faculty.profName">Prof Name</span></dt>
                <dd>
                    <span>{{faculty.profName}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.faculty.email">Email</span></dt>
                <dd>
                    <span>{{faculty.email}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.faculty.section">Section</span></dt>
                <dd>
                    <span *ngFor="let section of faculty.sections; let last = last">
                        <a [routerLink]="['/section', section?.id, 'view' ]">{{section.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/faculty', faculty.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
