<div>
    <h2 id="page-heading">
        <span>Assignments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assignment" [routerLink]="['/assignment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Assignment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="assignments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Description</span></th>
            <th><span>Total Points</span></th>
            <th><span>Num Parts</span></th>
            <th><span>Num Submissions</span></th>
            <th><span>Grade By</span></th>
            <th><span>Grading Directions</span></th>
            <th><span>Type</span></th>
            <th><span>Grading Link</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let assignment of assignments ;trackBy: trackId">
                <td><a [routerLink]="['/assignment', assignment.id, 'view' ]">{{assignment.id}}</a></td>
                <td>{{assignment.description}}</td>
                <td>{{assignment.totalPoints}}</td>
                <td>{{assignment.numParts}}</td>
                <td>{{assignment.numSubmissions}}</td>
                <td>{{assignment.gradeBy}}</td>
                <td>{{assignment.gradingDirections}}</td>
                <td>{{assignment.type}}</td>
                <td>{{assignment.gradingLink}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/assignment', assignment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/assignment', assignment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'assignment', { outlets: { popup: assignment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
