<script src="/js/ng-upload.js"></script>

<div *ngIf='selectedAssignmentHTMLToggle' style="margin:0 auto; text-align: center; height:100vh" id="multiimage">
  <p>Course Assignments</p>
  <button id='myBtn' class ="button" style = "vertical-align:middle" (click)="addAssignmentModal()"><span>
    Add Assignment
  </span></button>
  <div style="padding:5px" *ngFor="let assignment of assignmentList">
    <button (click)='selectAssignment(assignment.assignmentName)' class="customButton cyan">{{assignment.assignmentName}}</button>
  </div>
</div>
<div *ngIf='!selectedAssignmentHTMLToggle' style="margin:0 auto; text-align: center; height:100vh;" id="multiimage">
    <p>{{selectedAssignmentName}}</p>
  <app-grading-assignment-selected-screen></app-grading-assignment-selected-screen>
</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span (click)='closePopup()' class="close">&times;</span>
      <div>
            <form>
                    Assignment name: <input type="text" id="assignmentName"><br>
                    Total Points: <input type="text" id="assignmentPoints"><br>
                    Description: <input type="text" id="assignmentDesc"><br>
                    <button class ="button" id = "addA" (click)="addAssignment(assignmentName)"><span>Add Assignment</span></button>
                    <div ng-app="app">
                        <div ng-controller="mainCtrl">
                         <form action="/uploads" ng-upload="complete(content)">
                           <input type="file" name="avatar"></input>
                           <div style='cursor: pointer' upload-submit></div> &bull;
                         </form>
                       </div>
                      </div>
                </form>

        </div>
  </div>
  <div>
