<div>
    <h2 id="page-heading">
        <span>My Grading</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gradings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Num Assigned</span></th>
            <th><span>Num Completed</span></th>
            <th><span>Ta Assigned</span></th>
            <th><span>For Assignment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grading of gradings ;trackBy: trackId">
                <td><a [routerLink]="['/grading', grading.id, 'view' ]">{{grading.id}}</a></td>
                <td>{{grading.numAssigned}}</td>
                <td>{{grading.numCompleted}}</td>
                <td>
                    <div *ngIf="grading.taAssigned">
                        <a [routerLink]="['app/entities/ta', grading.taAssigned?.id, 'view' ]" >{{grading.taAssigned?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="grading.forAssignment">
                        <a [routerLink]="['app/entities/assignment', grading.forAssignment?.id, 'view' ]" >{{grading.forAssignment?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/grading-view', grading.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
