<div>
    <h1 class="display-4">TA Handbook</h1>
    <h1 class="display-9">Description</h1>
    <hr>
    <div>
        <h1 class="display-6">On-Boarding Information</h1>
        <p class="lead">
            Congratulations! 
            You have been accepted as a teaching assistant for VCU Computer Science. 
            This position will persist through your time at VCU, but you can set yourself to an active or inactive state each semester along with setting your number of hours available weekly and available times. 
            Please read the following directions to get started. You should have already received an email from MailGun support requesting that the site can send you emails. 
            Follow the directions in the email to accept this request. Go to [url] and register using your VCU email. You will receive a confirmation email, allowing you to complete your registration. 
            Because you are already listed as a TA, you should see the TA view when signed in. From this view, go to the “TA Handbook” tab from the navigation bar and read through all of the instructions. 
            Familiarize yourself with the tutorials in the “Tutorials” tab. You may not need all of this information depending on your role, but keep these resources in mind as an available resource. 
            Next, go to the “Update Information” tab to enter all of the needed information for the current semester. 
            Note 1: be sure to consider the duties and expectations of each role listed in the handbook before deciding whether you are interested in taking on that role 
            Note 2: try to be as open as possible with your availabilities, so that **directions on how to get into realtime **directions on how to get building access 
            **other onboarding things to do? 
            After all of these steps are completed, you will be notified when you are assigned to a course. Keep in mind that this course might not perfectly fit your preferences in roles or your availabilities. 
            In that case, it is between you and the course professor to decide whether the course is a good fit for you. If you are not notified of an assignment within 7 days before the first day of class, then a good fit could not be found for you this semester. 
            If you would still like to TA this semester, you can expand your availabilities and/or contact the program administrator to see if there are any positions still open. 
            Otherwise, you will be considered again in a following semester.

            interacting with students
            guidelines for dealing with difficult situations
            distribution of responsibilities between new and experienced TAs 
            Connecting to and using blackboard
        </p>
    </div>
    <div>
        <h1 class="display-6">TA Expectations</h1>
        <p class="lead">
            Information updates Active TAs will receive an email 3 weeks before the beginning of each semester. 
            This email will direct you to update your information on the TA web portal so that course matching is based on the correct information. 
            Including your availabilities is especially important to finding a class that matches your schedule. 
            Deactivation If you are unable to act as a TA for a given semester, please set your status to inactive. 
            Note that this will disable all email notifications, so you must log in and reactivate your account if you wish to continue as a TA in later semesters. 
            Keep in mind that your status will be automatically set to inactive after your graduation date, although this can be reactivated if needed. 
            Timeliness
        </p>
    </div>
    <div>
        <h1 class="display-6">TA Roles</h1>
        <li>
            <p class="lead">
                text here
            </p>
        </li>
    </div>
    <div>
        <h1 class="display-6">Instructor Expectations</h1>
        <p class="lead">
                act as an advisor to TAs and to maintain communication grading \
                Every course needs: x instructor /student ratio, x TA office hours
        </p>
    </div>
    <div>
        <h1 class="display-6">Departmental Policy</h1>
        <p class="lead">
            text here
        </p>
    </div>
</div>
