* {
  padding: 0px;
}

#sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #151719;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  left: 10px;
}

#sidebar.active {
  left: -500px;
}


ul .togglebtn {
  position: absolute;
  left: 230px;
  top: 20px;

}
#toggleid {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}


li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 255, 255)
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#sidebar{
  position: fixed;
  background: #151719
}
