<div style="margin:0 auto; text-align: center; height:100vh;" id="multiimage" >
    <p>Assignment Style:</p>
    <select (change)="onChange($event)">
      <option>---------------Select an option---------------</option>
      <option value = "option1">Assign by Portion of Assignment</option>
      <option value = "option2">Assign TA to grade specific portion of students</option>
    </select>
    <button id='myBtn' class ="button" style = "vertical-align:middle" (click)="addTASelected()"><span>
        Add TA
      </span></button>

    <div *ngIf = "selectedOption === 'option1'">
      <ul id="option1list">

      </ul>
    </div>


    <div *ngIf = "selectedOption === 'option2'">
        <ul id="option1list">

          </ul>
  </div>



  <!-- The Modal -->
  <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span (click)='closePopup()' class="close">&times;</span>
        <div><h1>Click to add</h1></div>
        <div style="padding:5px;" *ngFor="let acceptedTA of acceptedTAList">
            <div><button class ="button1" (click)="addthisTA(acceptedTA.firstName,acceptedTA.lastName)"><span>{{acceptedTA.firstName}} {{acceptedTA.lastName}} <br>
              Grade : {{acceptedTA.selectedCourseGrade}} <br>
              Term : {{acceptedTA.selectedCourseTerm}}</span></button></div>

            <!-- Trigger/Open The Modal -->
            <!-- <button id="myBtn">Open Modal</button> -->


          </div>

      </div>

    </div>

    <div>
    <button id='submitBtn' class ="button2" style = "vertical-align:middle" (click)="submitGradeSection()"><span>
        Submit
      </span></button>
    </div>
