<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="section">
            <h2><span>Section</span> {{section.id}}</h2>
            <hr>
            <button *jhiHasAnyAuthority="'ROLE_USER'" type="submit" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/select">
                    <span>
                        <fa-icon icon="user-plus"></fa-icon>
                        <span>Manage TAs</span>
                    </span>
                </a>
            </button>
            <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/grading-view">
                    <span>
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span>View Grading</span>
                    </span>
                </a>
            </button>
            <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a routerLink="/grading-assign">
                    <span>
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span>Assign Grading</span>
                    </span>
                </a>
            </button>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Section Id</span></dt>
                <dd>
                    <span>{{section.sectionId}}</span>
                </dd>
                <dt><span>Semester</span></dt>
                <dd>
                    <span>{{section.semester}}</span>
                </dd>
                <dt><span>Year</span></dt>
                <dd>
                    <span>{{section.year}}</span>
                </dd>
                <dt><span>Lab Room</span></dt>
                <dd>
                    <span>{{section.labRoom}}</span>
                </dd>
                <dt><span>Lecture Room</span></dt>
                <dd>
                    <span>{{section.lectureRoom}}</span>
                </dd>
                <dt><span>Capacity</span></dt>
                <dd>
                    <span>{{section.capacity}}</span>
                </dd>
                <dt><span>Enrolled</span></dt>
                <dd>
                    <span>{{section.enrolled}}</span>
                </dd>
                <dt><span>Course</span></dt>
                <dd>
                    <div *ngIf="section.course">
                        <a [routerLink]="['/course', section.course?.id, 'view']">{{section.course?.id}}</a>
                    </div>
                </dd>
                <dt><span>Faculty</span></dt>
                <dd>
                    <div *ngIf="section.faculty">
                        <a [routerLink]="['/faculty', section.faculty?.id, 'view']">{{section.faculty?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course', section.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
