<div>
    <h2 id="page-heading">
        <span>Time Windows</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-time-window" [routerLink]="['/time-window/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Time Window
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timeWindows">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Start Time</span></th>
            <th><span>End Time</span></th>
            <th><span>Ta</span></th>
            <th><span>Section Lecture</span></th>
            <th><span>Section Lab</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeWindow of timeWindows ;trackBy: trackId">
                <td><a [routerLink]="['/time-window', timeWindow.id, 'view' ]">{{timeWindow.id}}</a></td>
                <td>{{timeWindow.startTime | date:'medium'}}</td>
                <td>{{timeWindow.endTime | date:'medium'}}</td>
                <td>
                    <div *ngIf="timeWindow.ta">
                        <a [routerLink]="['../ta', timeWindow.ta?.id, 'view' ]" >{{timeWindow.ta?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timeWindow.sectionLecture">
                        <a [routerLink]="['../section', timeWindow.sectionLecture?.id, 'view' ]" >{{timeWindow.sectionLecture?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="timeWindow.sectionLab">
                        <a [routerLink]="['../section', timeWindow.sectionLab?.id, 'view' ]" >{{timeWindow.sectionLab?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/time-window', timeWindow.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/time-window', timeWindow.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'time-window', { outlets: { popup: timeWindow.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
