<div>
    <h2 id="page-heading">
        <span jhiTranslate="taManagementApp.applicant.home.title">Applicants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-applicant" [routerLink]="['/applicant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taManagementApp.applicant.home.createLabel">
            Create new Applicant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="applicants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.studentName">Student Name</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.vNumber">V Number</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.email">Email</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.taMotivation">Ta Motivation</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.refName">Ref Name</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.refEmail">Ref Email</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.refResponse">Ref Response</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.isConfirmed">Is Confirmed</span></th>
            <th><span jhiTranslate="taManagementApp.applicant.ta">Ta</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let applicant of applicants ;trackBy: trackId">
                <td><a [routerLink]="['/applicant', applicant.id, 'view' ]">{{applicant.id}}</a></td>
                <td>{{applicant.studentName}}</td>
                <td>{{applicant.vNumber}}</td>
                <td>{{applicant.email}}</td>
                <td>{{applicant.taMotivation}}</td>
                <td>{{applicant.refName}}</td>
                <td>{{applicant.refEmail}}</td>
                <td>{{applicant.refResponse}}</td>
                <td>{{applicant.isConfirmed}}</td>
                <td>
                    <div *ngIf="applicant.ta">
                        <a [routerLink]="['../ta', applicant.ta?.id, 'view' ]" >{{applicant.ta?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/applicant', applicant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/applicant', applicant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'applicant', { outlets: { popup: applicant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
