<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="applicant">
            <h2><span jhiTranslate="taManagementApp.applicant.detail.title">Applicant</span> {{applicant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taManagementApp.applicant.studentName">Student Name</span></dt>
                <dd>
                    <span>{{applicant.studentName}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.vNumber">V Number</span></dt>
                <dd>
                    <span>{{applicant.vNumber}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.email">Email</span></dt>
                <dd>
                    <span>{{applicant.email}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.taMotivation">Ta Motivation</span></dt>
                <dd>
                    <span>{{applicant.taMotivation}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.refName">Ref Name</span></dt>
                <dd>
                    <span>{{applicant.refName}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.refEmail">Ref Email</span></dt>
                <dd>
                    <span>{{applicant.refEmail}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.refResponse">Ref Response</span></dt>
                <dd>
                    <span>{{applicant.refResponse}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.isConfirmed">Is Confirmed</span></dt>
                <dd>
                    <span>{{applicant.isConfirmed}}</span>
                </dd>
                <dt><span jhiTranslate="taManagementApp.applicant.ta">Ta</span></dt>
                <dd>
                    <div *ngIf="applicant.ta">
                        <a [routerLink]="['/ta', applicant.ta?.id, 'view']">{{applicant.ta?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/applicant', applicant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
